---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Bytové družstvo Pastelky',
};

const downloadPages = [{ title: 'Dokumenty ke stažení', url: '/ke-stazeni/bd-pastelky' }];
---

<Layout metadata={metadata}>
  <!-- Features2 Widget ************** -->

  <Hero
    tagline="Bytové družstvo"
    title="Pastelky"
    image={{
      src: '../assets/images/bd-pastelky.webp',
      alt: 'Bytové družstvo Pastelky',
    }}
  />

  <Features2
    columns={1}
    items={[
      {
        title: 'Výpis z obchodního rejstříku',
        description: `
        PASTELKY, stavební bytové družstvo, Dr 3210 vedená u Krajského soudu v Brně oddíl Dr, vložka 3210 <br/>
        Datum zápisu: 29. února 2000 <br/>
        Spisová značka: Dr 3210 vedená u Krajského soudu v Brně <br/>
        Obchodní firma: PASTELKY, stavební bytové družstvo <br/>
        Sídlo: Hodonín, Rodinova 691/4, PSČ 695 01 <br/>
        Identifikační číslo: 25592017 <br/>
        Právní forma: Družstvo <br/>
        Předmět podnikání: výroba, obchod a služby neuvedené v přílohách 1 až 3 živnostenského zákona
`,

        icon: 'tabler:align-justified',
      },
    ]}
  />
  <!-- Features3 Widget ************** -->

  <Features3
    title="Statutární orgán"
    columns={2}
    isAfterContent={true}
    items={[
      {
        title: 'předseda představenstva:',
        description: `
            Dušan Škopík <br/>
            Šafaříkova 3994/13, 69501 Hodonín <br/>
            Den vzniku funkce: 18. listopadu 2021 <br/>
            Den vzniku členství: 3. listopadu 2021 <br/>
          `,
        icon: 'tabler:user',
      },
      {
        title: 'místopředseda představenstva:',
        description: `
            Ing. MARIÁN MAŇÁK <br/>
            Vrchlického 1136, 696 03 Dubňany <br/>
            Den vzniku funkce: 18. listopadu 2021 <br/>
            Den vzniku členství: 3. listopadu 2021 <br/>
          `,
        icon: 'tabler:user',
      },
      {
        title: 'členka představenstva:',
        description: `
            IVANA VOJTOVÁ <br/>
            Šafaříkova 3994/13, 695 01 Hodonín <br/>
            Den vzniku členství: 8. června 2022 <br/>
          `,
        icon: 'tabler:user',
      },
      {
        title: 'členka představenstva:',
        description: `
            Jana Vrbová <br/>
            Šafaříkova 3994/13, 69501 Hodonín <br/>
            Den vzniku členství: 3. listopadu 2021 <br/>
          `,
        icon: 'tabler:user',
      },
      {
        title: 'člen představenstva:',
        description: `
            Pavel Veselý <br/>
            Šafaříkova 3994/13, 695 01 Hodonín <br/>
            Den vzniku členství: 3. listopadu 2021 <br/>
          `,
        icon: 'tabler:user',
      },
    ]}
  />
  <div class="max-w-5xl mx-auto p-4 md:px-8">
    <div class="w-full mb-12 -mt-10 text-base dark:text-slate-400">
      <p>
        Způsob jednání: Představenstvo družstva má 5 členů. Způsob jednání za družstvo: Jménem družstva jedná navenek ve
        všech věcech představenstvo. Za družstvo jedná navenek předseda v jeho nepřítomnosti místopředseda. Je-li pro
        právní úkon, který činí představenstvo předepsaná písemná forma, je třeba podpisu předsedy, popřípadě
        místopředsedy a jednoho ze členů představenstva.
      </p>
    </div>

    <div class="w-full mb-12 text-base dark:text-slate-400">
      <p>
        Základní členský vklad: 10 000 Kč <br />
        Základní členský vklad fyzické osoby: 25 000 Kč <br />
        Základní členský vklad právnické osoby, zapisovaný základní kapitál: 50 000 Kč
      </p>
    </div>
  </div>

  <section class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <ul class="space-y-4 bg-blue-200 dark:bg-blue-900 rounded-lg">
      {
        downloadPages.map((page) => (
          <li class="p-4 shadow-sm flex justify-between items-center">
            <div>
              <h3 class="text-lg font-semibold">{page.title}</h3>
            </div>
            <a href={page.url} class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
              Zobrazit
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
