---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getContent } from '~/utils/getContent';
import type { CenikData } from '~/types';

const metadata = {
  title: 'Ceník 2024 SVJ nad rámec smluv',
};

const cenikData = await getContent<CenikData>('cenik');
const items = cenikData?.items ?? [];
---

<Layout metadata={metadata}>
  <Hero tagline="Ceník">
    <Fragment slot="title">
      Ceník služeb pro SVJ na rok 2024 <br />
    </Fragment>

    <Fragment slot="subtitle">
      Tento ceník obsahuje všechny nadstandardní služby nad rámec smluvních povinností poskytované pro SVJ v roce 2024.
    </Fragment>
  </Hero>

  <!-- Tabulka ceníku -->
  <div class="container max-w-5xl mx-auto mt-10 md:-mt-96 lg:-mt-40 2xl:-mt-96 px-4 sm:px-6 lg:px-8">
    <div class="overflow-x-auto">
      <table class="min-w-full table-auto text-left border-gray-200">
        <thead>
          <tr>
            <th
              scope="col"
              class="p-4 bg-blue-100 dark:bg-gray-800 rounded-l-2xl text-left text-lg font-bold align-top w-2/4"
              >Název služby</th
            >
            <th scope="col" class="p-4 bg-blue-100 dark:bg-gray-800 text-left text-lg font-bold align-top w-1/4"
              >MěBS (částka)</th
            >
            <th
              scope="col"
              class="p-4 bg-blue-100 dark:bg-gray-800 rounded-r-2xl text-left text-lg font-bold align-top w-1/4"
              >Cena s DPH</th
            >
          </tr>
        </thead>
        <tbody>
          {
            items.map((item) => (
              <tr class="border-b border-gray-200 hover:bg-gray-300 dark:border-gray-800 dark:hover:bg-gray-800 transition duration-300 ease-in-out">
                <td class="p-4 align-top">{item.service}</td>
                <td class="p-4 align-top">{item.price}</td>
                <td class="p-4 align-top">{item.price_with_tax}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="container max-w-5xl my-8 mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-sm">* 181,7 Kč/měs/jednotka</p>
    <p class="text-sm">** Netýká se SVJ, kde MěBS vykonává funkci předsedy společenství</p>
    <p class="text-md font-bold mt-6 mb-24">Všechny ceny bez DPH</p>
  </div>
</Layout>
