---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Profi předseda přehled',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Profi předseda"
    image={{
      src: '../assets/images/o-nas.jpg',
      alt: 'Profi Představenstvo Přehled',
    }}
  >
    <Fragment slot="title">
      Přehled objektů v naši správě
    </Fragment>
  </Hero>

  <!-- Tabulka objektů -->
  <div class="container max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="overflow-x-auto">
      <table class="min-w-full table-auto mb-10 text-left border-gray-200">
        <thead>
          <tr>
            <th scope="col" class="bg-blue-100 rounded-2xl p-4 text-left text-lg font-bold align-top">
              Objekt
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="border-b border-gray-200">
            <td class="p-1 pt-4 align-top hover:bg-gray-300 rounded-lg">1. Anenská 2</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">2. Anenská 4</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">3. Bezručova 35</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">4. Blažkova 6</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">5. Blažkova 8, Palackého 45</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">6. Brandlova 101-103-105</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">7. Brandlova 125, 127, 129</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">8. Brandlova 30</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">9. Brandlova 71-81</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">10. Brněnská 30</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">11. Erbenova 1-3-5</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">12. Erbenova 26,28,30</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">13. Erbenova 27, 29, 31</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">14. Erbenova 7,9,11</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">15. G. Preissové 6,8</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">16. Horní Valy 1</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">17. J. Suka 10,12,14</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">18. J. Suka 16,18,20</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">19. J. Suka 9,11,13</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">20. Jilemnického 11-13</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">21. Křičkova 2,4,6</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">22. Křičkova 21, 23</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">23. Křičkova 22, 24, 26</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">24. Legionářů 22</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">25. Lesní 10</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">26. Lesní 12</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">27. Lesní 14</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">28. Luční 7,9,11</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">29. Marxova 11,13,15,17,19</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">30. Marxova 23,25</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">31. Masarykovo nám. 28, Radniční 2, Jánošíkova 1</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">32. Měšťanská 14</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">33. Měšťanská 136</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">34. Nádražní řádek 10</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">35. nám. B. Martinů 7,8,9</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">36. nám. Osvobození 4</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">37. Národní třída 34</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">38. Národní třída 46</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">39. Národní třída 61</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">40. Nesyt 1, 3</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">41. Pánov 3132, 3166</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">42. Patočkova 1-3</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">43. Patočkova 17,19</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">44. Patočkova 21,23</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">45. Patočkova 9,11</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">46. Pr. Veselého 22, Sušilova 57</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">47. Pr. Veselého 56</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">48. Radniční 4</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">49. Sadová 11</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">50. Seifertova 12,14</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">51. Skácelova 3,5</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">52. Skácelova 7,9</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">53. Slavíkova 4</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">54. U Červených domků 18,20</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">55. U Červených domků 6,8</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">56. U Školky 47, Rohatec</td>
          </tr>
          <tr class="border-b border-gray-200">
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">57. Úprkova 1</td>
          </tr>
          <tr>
            <td class="p-1 align-top hover:bg-gray-300 rounded-lg">58. Vřesová 1-3-5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
