<!-- <div
  class="text-muted text-sm bg-black dark:bg-yellow-100 flex flex-wrap gap-1 px-3 py-2 relative whitespace-normal break-words"
>
  <span
    class="dark:bg-yellow-500 bg-red-600 dark:text-slate-900 text-white font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block rounded-lg"
    >AKTUALITA: HAVÁRIE TEPLOVODU LESNÍ</span
  >
<a href="/provoz-vanoce" class="hover:underline dark:text-slate-600 text-slate-400 font-medium break-words">
    Provozní doba MěBS o vánočních svátcích - více informací zde
  </a>
  <span class="hover:underline dark:text-slate-600 text-slate-400 font-medium break-words">
    Dle informace  ČEZ  Teplárenská dojde z technických důvodů k přerušení dodávky tepla  v lokalitě Lesní  18.12.2024, případný další posun termínu není vyloučen. <br>
    Všem odběratelům tlumočíme omluvu.
  </span>
</div> -->
<div
  class="text-muted text-sm bg-black dark:bg-yellow-100 flex flex-col gap-1 px-3 py-2 relative whitespace-normal break-words"
>
  <span
    class="dark:bg-yellow-500 bg-red-600 dark:text-slate-900 text-white font-semibold px-1 py-0.5 text-xs rounded-lg w-auto self-start"
  >
    AKTUALITA: HAVÁRIE TEPLOVODU ULICE LESNÍ
  </span>
  <span class="dark:text-slate-600 text-slate-400 font-medium break-words">
    Dle informace ČEZ Teplárenská dojde z technických důvodů k přerušení dodávky tepla v lokalitě Lesní 18.12.2024,
    případný další posun termínu není vyloučen.<br />
    Všem odběratelům tlumočíme omluvu.
  </span>
</div>
