---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import List from '~/components/widgets/List.astro';
import Maps from '~/components/widgets/Maps.astro';
import Stahni from '~/components/widgets/Stahni.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      Městská bytová správa, spol. s.r.o.
      <span class="text-accent dark:text-white highlight"> Hodonín</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Zajišťujeme správu nemovitostí, a to privatizovaných bytů a bytů v majetku bytových družstev.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
    </Fragment>

    <Fragment slot="bg">
      <div
    class="relative bg-cover bg-center h-full md:mt-20 2xl:mt-14 bg-[url('/assets/images/Full.webp')] dark:bg-[url('/assets/images/NamNoc2.webp')]"
      >
      </div>
    </Fragment>
  </Hero>

  <Features2
    columns={2}
    classes={{
      container: 'mt-40' 
    }}    items={[
      {
        title: 'Správa prodaných bytů (SVJ) a družstva',
        description: 'Zajišťujeme správu nemovitostí',
        image: { src: '/assets/images/zapad-hodonin.webp', alt: 'Správa prodaných bytů (SVJ) a družstva' },
        link: '/svj/o-nas',
      },
      {
        title: 'Údržba',
        description: 'Zajišťujeme opravy a údržbu nemovitostí',
        image: { src: '/assets/images/zapad-hodonin.webp', alt: 'Údržba' },
        link: '/udrzba',
      },
      {
        title: 'Tepelné hospodářství',
        description: 'Zajišťujeme výrobu a dodávky tepla a TUV',
        image: { src: '/assets/images/zapad-hodonin.webp', alt: 'Tepelné hospodářství' },
        link: '/teplo',
      },
      {
        title: 'Hotel Krystal',
        description: 'Provozujeme Hotel Krystal',
        image: { src: '/assets/images/hotel-krystal.webp', alt: 'Hotel Krystal' },
        link: 'https://www.hotel-krystal.cz/',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <List
    title="Předmět podnikání"
    items={[
      'Zámečnictví, nástrojařství',
      'Truhlářství, podlahářství',
      'Zednictví',
      'Montáž, opravy, revize a zkoušky zdvihacích zařízení',
      'Montáž, opravy, revize a zkoušky plynových zařízení a plnění nádob plyny',
      'Klempířství a oprava karoserií',
      'Podnikání v oblasti nakládání s nebezpečnými odpady',
      'Silniční motorová doprava - nákladní vnitrostátní provozovaná vozidly o největší povolené hmotnosti do 3,5 tuny včetně',
      'Provádění staveb, jejich změn a odstraňování',
      'Činnost účetních poradců, vedení účetnictví, vedení daňové evidence',
      'Montáž, opravy, revize a zkoušky elektrických zařízení',
      'Hostinská činnost',
      'Projektová činnost ve výstavbě',
      'Malířství, lakýrnictví a natěračství',
      'Výroba, obchod a služby neuvedené v přílohách 1 až 3 živnostenského zákona',
      'Výroba, instalace, opravy elektrických strojů a přístrojů, elektronických a telekomunikačních zařízení',
      'Výroba tepelné energie a rozvod tepelné energie, nepodléhající licenci, realizovaná ze zdrojů tepelné energie s instalovaným výkonem jednoho zdroje nad 50 kW',
      'Vodoinstalatérství, topenářství',
      'Kominictví',
    ]}
  />

  <Maps
    url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.2772089049413!2d17.124831177021488!3d48.85292410109038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47132e56afcfbd0b%3A0xb4505985015dec69!2sRodinova%20691%2F4%2C%20695%2001%20Hodon%C3%ADn%201!5e0!3m2!1sen!2scz!4v1727018100389!5m2!1sen!2scz"
    width="100%"
    height="500px"
  />
  <Stahni />
</Layout>
