---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import AvailableJobs from '~/components/widgets/AvailableJobs.astro';

const metadata = {
  title: 'Kariéra',
};
---

<Layout metadata={metadata}>
  <HeroText
    tagline="Kariéra"
    title="Hledáme talentované lidi"
    subtitle="Pokud máte zájem stát se součástí našeho přátelského a motivovaného týmu, rádi vám nabídneme prostředí, kde se cení spolupráce, inovace a spolehlivost. V Městské bytové správě věříme, že spokojení zaměstnanci jsou základem kvalitních služeb pro naše klienty."
  />
  <div class="max-w-4xl mx-auto py-20 px-4 sm:px-6">
    <div class="mt-8">
      <AvailableJobs />
    </div>
  </div>
</Layout>
