---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features21 from '~/components/widgets/Features21.astro';
import { getContent } from '~/utils/getContent';
import type { KontaktyData } from '~/types';

const metadata = {
  title: 'Kontakt',
};
const kontakty = await getContent<KontaktyData>('kontakty');
---

<Layout metadata={metadata}>
  <HeroText tagline="Kontakt" title="Pojďme se spojit" />
  <div class="max-w-5xl m-auto px-4 sm:px-6">
    <div class="flex items-start">
      <div class="flex-1 mt-4">
        <p>
          <span class="font-bold">Městská bytová správa, spol. s r.o.</span> je od 21. prosince 1995 zapsána v obchodním
          rejstříku vedeném Krajským soudem v Brně v oddílu C, vložka 21697. Zakladatelem a jediným společníkem je Město
          Hodonín.
          <br /><br />
          Sídlo: Hodonín, Rodinova 691/4, PSČ 695 01, IČ: 634 89 953, DIČ: CZ699001303<br />
          Statutární orgán: Ing. Jana Bimková, jednatelka společnosti<br />
          ID datové schránky: 4mimcfg
          <br /><br />
        </p>
      </div>
      <div class="flex-shrink-0">
        <img src="/assets/images/bytovka_kontakt_QR.png" alt="QR Code" class="w-48 h-48" />
      </div>
    </div>
    <div class="border-b border-gray-300 mt-14"></div>
  </div>

  <div class="max-w-7xl m-auto px-4 sm:px-0">
    {kontakty && <Features21 structure={kontakty.departments} />}
  </div>
</Layout>
