---
import Layout from '~/layouts/PageLayout.astro';
import List from '~/components/widgets/List.astro';
import HeroText from '~/components/widgets/HeroText.astro';
---

<Layout metadata={{ title: 'Služby' }}>
  <HeroText tagline="Služby" title="Seznám poskytovaných služeb" />

  <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="col-span-2">
        <List
          title="Hlavní náplň činnosti"
          items={[
            'zajišťování správy nemovitostí v majetku města',
            'zajišťování správy společenstvím vlastníků bytů',
            'zajištění správy nemovitostí soukromým vlastníkům, fyzickým i právnickým osobám',
            'příprava a zajištění realizace investičních akcí - rekonstrukcí, modernizací a oprav spravovaného majetku',
            'zabezpečení potřebných technických prohlídek, revizí a kontrol, BOZP, požární prohlídky',
          ]}
        />
        <p>Tyto činnosti jsou zajišťovány na základě mandátních nebo příkazních smluv.</p>
        <List
          title="Další činnosti"
          items={[
            'vyřizování stavebních úprav v bytech a nebytových prostorách na náklad nájemců',
            'zajišťování oprav společných televizních antén',
            'zajišťování výměny měřidel tepla v bytech při opravách a jejich programování',
            'evidence a kontrola bytových vodoměrů na teplou a studenou vodu',
            'spolupráce s domovníky v nájemních bytech',
          ]}
        />
        <div class="mb-8">
          <h4 class="text-lg font-semibold mt-8">Pokladní hodiny</h4>
          <p class="mt-2">
            Pondělí, středa 7.30 – 17.00<br />
            II. patro, dveře č. 16<br />
            Rodinova 691/4, Hodonín
          </p>
        </div>

        <div class="border-b border-gray-300"></div>
        <div class="mt-12">
          <h2 class="text-2xl font-semibold mb-4">Hotel Krystal</h2>
          <p>
            V klidné části v blízkosti centra města provozujeme tříhvězdičkový hotel Krystal, kde poskytujeme
            profesionální služby v oblasti ubytování. Stále je však co zlepšovat, aby naši hosté byli vždy spokojeni,
            neboť pro Vás vytváříme místo, kam se budete rádi vracet.
          </p>
          <p class="mt-4">
            Nabízíme moderní pokoje v blízkosti centra lázeňského města Hodonína. Výhodou je lokalita u slovenských
            hranic v srdci vína a skvělých srdíček kraje – regionu Slovácka. Nově u nás můžete najít také vinný sklípek
            a pokoje pro Vás renovované business / deluxe pokoje - moderně vybavené pokoje s LCD televizí, část s
            balkonem a klimatizací.
          </p>
          <a href="http://www.hotel-krystal.cz" class="text-blue-600 underline mt-4 block" target="_blank">
            www.hotel-krystal.cz
          </a>
        </div>

        <div class="mt-8">
          <img src="/assets/images/publicita-krystal.jpg" alt="Hotel Krystal" class="w-full h-auto mb-10" />
        </div>
      </div>

      <div class="ml-20">
        <List
          title="Předmět podnikání"
          class="text-sm"
          items={[
            'montáž a opravy vyhrazených plynových zařízení',
            'klempířství',
            'truhlářství',
            'zámečnictví',
            'zednictví',
            'malířství',
            'provozování CA',
            'hostinská činnost',
            'podnikání v oblasti nakládání s nebezpečnými odpady',
            'provádění staveb včetně jejich změn, udržovacích prací na nich a jejich odstraňování',
            'ubytovací služby',
            'realitní činnost',
            'správa a údržba nemovitostí',
            'maloobchod se smíšeným zbožím',
            'maloobchod použitým zbožím',
            'velkoobchod',
            'montáž, opravy, revize a zkoušky vyhrazených elektrických zařízení',
            'opravy a revize vyhrazených zdvihacích zařízení',
            'vodoinstalatérství, topenářství',
            'dokončovací stavební práce',
            'výroba tepelné energie',
            'rozvod tepelné energie',
            'výroba, instalace a opravy elektrických strojů a přístrojů',
            'výroba, instalace a opravy elektronických zařízení',
            'silniční motorová doprava nákladní',
            'vnitrostátní s vozidly do 3,5 t celkové hmotnosti',
            'činnost podnikatelských, finančních, organizačních a ekonomických poradců',
            'pronájem a půjčování věcí movitých',
            'inženýrská činnost v investiční výstavbě',
            'montáž měřidel',
            'provozování tělovýchovných a sportovních zařízení a zařízení sloužících regeneraci a rekondici',
            'projektová činnost ve výstavbě',
            'údržba motorových vozidel a jejich příslušenství',
            'oceňování majetku pro věci nemovité',
            'výroba tepelné energie a rozvod tepelné energie, nepodléhající licenci realizovaná ze zdrojů tepelné energie s instalovaným výkonem jednoho zdroje nad 50 kW',
            'kominictví',
          ]}
        />
      </div>
    </div>
  </section>
</Layout>
