---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features21 from '~/components/widgets/Features21.astro';
import { getContent } from '~/utils/getContent';
import type { AkceData, SVJKontaktyData } from '~/types';

const udrzbaKontakty: SVJKontaktyData | null = await getContent<SVJKontaktyData>('udrzba-kontakty');

if (!udrzbaKontakty) {
  throw new Error('Data nebyla načtena.');
}

const metadata = {
  title: 'Údržba',
};

const akceData = await getContent<AkceData>('udrzba');
const akceTitle = akceData?.title || 'Realizované akce 2024';
const akceItems = akceData?.items || [];
---

<Layout metadata={metadata}>
  <Note boldText="Havarijní služby vodo-topo:" normalText="  602 779 936" />
  <Note boldText="Havarijní služba výtahy, elektro:" normalText="  602 779 935" />

  <Hero
    tagline="Údržba"
    title="Profesionální servis a údržba pro vaše nemovitosti"
    subtitle=`Údržba jako jedno z provozních středisek společnosti provádí <strong>servisní 
    činnost pro nutný provoz bytových domů a ostatních nebytových prostor. </strong>
    Tato servisní činnost zahrnuje z hlediska bytových domů především provádění 
    drobných oprav v bytech, běžnou údržbu bytů, provádění větších oprav a výměn předmětů 
    vnitřního vybavení v bytech a opravy ve společných prostorech domů. 
    Z hlediska nebytových prostor údržba bytového fondu zajišťuje běžnou údržbu a 
    opravy těchto prostor vyplývající z jejich běžného provozu.`
    image={{
      src: '/assets/images/udrzba-uvod.webp',
      alt: 'Údržba úvod',
      class: 'md:mt-16 2xl:mt-0 mx-auto w-full',
    }}
  />

  <div class="max-w-7xl m-auto px-4 sm:px-0">
    <Features21
      title="Personální struktura střediska"
      columns={3}
      structure={[
        {
          contacts: udrzbaKontakty.contacts.map((contact) => ({
            title: contact.name,
            name: contact.title,
            icon: contact.icon,
            contactInfo: contact.contactInfo,
          })),
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
      </Fragment>
    </Features21>
  </div>

  <Stats
    title="Personál"
    stats={[
      { title: 'instalatérů', amount: '5' },
      { title: 'elektrikáři', amount: '2' },
      { title: 'výtaháři', amount: '2' },
      { title: 'zedníci', amount: '3' },
      { title: 'zámečník ', amount: '1' },
    ]}
  />

  <Content
    isReversed
    items={[
      {
        title: 'Výměna rozvodů studené a teplé vody (kov, plast, měď, nerez)',
        description: '',
        icon: 'tabler:switch-3',
      },
      {
        title: 'Výměna rozvodů kanalizace (litina, kamenina, HT, KG)',
        description: '',
        icon: 'tabler:switch-3',
      },
      {
        title: 'Montáž nových rozvodů studené a teplé vody, kanalizace',
        description: '',
        icon: 'tabler:tool',
      },
      {
        title: 'Návrh a montáž chemické a magnetické úpravy vody',
        description: '',
        icon: 'tabler:droplet-check',
      },
      {
        title: 'Čištění kanalizace v objektech, chemické čištění potrubí vody a topení',
        description: '',
        icon: 'tabler:reload',
      },
      {
        title: 'Instalace vodovodních baterií, sanitární keramiky, van a sprchových koutů',
        description: '',
        icon: 'tabler:bath',
      },
      {
        title: 'Výměna a montáž vodoměrů standardních a s dálkovým odečtem',
        description: '',
        icon: 'tabler:gauge',
      },
    ]}
    image={{
      src: '/assets/images/udrzba-voda.webp',
      alt: 'Údržba - vodoinstalace',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Práce v oblasti vodoinstalací</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Výměna rozvodů domovní plynoinstalace',
        description: '',
        icon: 'tabler:switch-3',
      },
      {
        title: 'Montáž nových rozvodů plynoinstalace (kov, měď, nerez)',
        description: '',
        icon: 'tabler:tool',
      },
      {
        title:
          'Dodávka a montáž plynových i kombinovaných sporáků, kotlů, plynových topidel a ohřívačů teplé užitkové vody',
        description: '',
        icon: 'tabler:flame',
      },
      {
        title: 'Oprava plynových spotřebičů (ohřívače vody, topidla)',
        description: '',
        icon: 'tabler:tool',
      },
      {
        title: 'Revize plynoinstalace',
        description: '',
        icon: 'tabler:checkup-list',
      },
    ]}
    image={{
      src: '/assets/images/udrzba-plyn.webp',
      alt: 'Údržba - plynoinstalace',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Práce v oblast plynoinstalací</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title:
          'Výměna radiátorů dle požadavků zákazníka, návrhy (propočty) radiátorů dle kW, výměny kotlů včetně odkouření',
        description: '',
        icon: 'tabler:temperature',
      },
      {
        title: 'Výměna měřičů tepla, přenastavení při změně radiátorů',
        description: '',
        icon: 'tabler:gauge',
      },
      {
        title: 'Provádění rekonstrukcí i nových rozvodů ústředního topení (kov, měď)',
        description: '',
        icon: 'tabler:tool',
      },
      {
        title: 'Rekonstrukce kotelen bytových domů',
        description: '',
        icon: 'tabler:building-skyscraper',
      },
    ]}
    image={{
      src: '/assets/images/udrzba-topeni.webp',
      alt: 'Údržba - topenářství',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Práce v oblasti topenářství</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Oprava a rekonstrukce rozvodů el. instalace v bytech i ve společných prostorech',
        description: '',
        icon: 'tabler:plug',
      },
      {
        title: 'Instalace pohybových čidel ve společných prostorech',
        description: '',
        icon: 'tabler:walk',
      },
      {
        title: 'Servis v oblasti domácích telefonů',
        description: '',
        icon: 'tabler:phone-call',
      },
      {
        title: 'Odborné prohlídky a servis výtahů, zajištění revize',
        description: '',
        icon: 'tabler:elevator',
      },
      {
        title: 'Havarijní služba - vyprošťování osob',
        description: '',
        icon: 'tabler:sos',
      },
      {
        title: 'Revize elektroinstalací',
        description: '',
        icon: 'tabler:checkup-list',
      },
    ]}
    image={{
      src: '/assets/images/udrzba-vytahy.webp',
      alt: 'Údržba - vytah',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Práce v oblast elektro a výtahů
      </h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'Skládání, kompletace nového nábytku',
        description: '',
        icon: 'tabler:columns-2',
      },
      {
        title: 'Dodavatelsky zajišťujeme výrobu nábytku na zakázku (kuchyňské linky, skříně) u hodonínského výrobce',
        description: '',
        icon: 'tabler:packages',
      },
      {
        title: 'Dodávka a pokládka podlahových krytin (PVC, plovoucí podlahy, parkety)',
        description: '',
        icon: 'tabler:angle',
      },
      {
        title: 'Opravy podlah - parkety (renovace, broušení, lakování) - dodavatelsky',
        description: '',
        icon: 'tabler:hammer',
      },
    ]}
    image={{
      src: '/assets/images/udrzba-podlahy.webp',
      alt: 'Údržba - podlahy',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Práce v oblasti stolařské a podlahářské
      </h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isSingle={true}
    columns={2}
    items={[
      {
        title: 'Výměna bytových zárubní včetně dodávky dveří',
        description: '',
        icon: 'tabler:door-enter',
      },
      {
        title: 'Odborné zednické zapravení při výměně oken',
        description: '',
        icon: 'tabler:window',
      },
      {
        title: 'Grafické návrhy koupelen a stavebních úprav',
        description: '',
        icon: 'tabler:brand-blender',
      },
      {
        title:
          'Rekonstrukce bytových jader, koupelen - dodávka veškerých řemeslných prací (zednické, obkladačské, elektrikářské, stolařské, malířské)',
        description: '',
        icon: 'tabler:tool',
      },
      {
        title: 'Veškeré klempířské práce - výměna okapů a jejich čištění, výroba odtahů (dodavatelsky zajišťujeme)',
        description: '',
        icon: 'tabler:bucket',
      },
      {
        title: 'Vyklízení bytů, domů, stěhování',
        description: '',
        icon: 'tabler:truck',
      },
      {
        title: 'Opravy střech rovných i šikmých, izolatérské práce',
        description: '',
        icon: 'tabler:home',
      },
      {
        title: 'Poradenská činnost v oblasti vodo-topo-plyn a elektro',
        description: '',
        icon: 'tabler:info-circle',
      },
      {
        title: 'Provádění odpočtů bytových měřičů (vodoměry, měřiče tepla)',
        description: '',
        icon: 'tabler:gauge',
      },
      {
        title: 'Realizace stavebních úprav v bytech a nebytových prostorách na náklad nájemců',
        description: '',
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Zajišťování oprav společných televizních antén',
        description: '',
        icon: 'tabler:antenna',
      },
      {
        title: 'Zajišťování přípravy a realizace měření tepla v bytech',
        description: '',
        icon: 'tabler:gauge',
      },
      {
        title: 'Zajišťování výměny měřidel tepla v bytech při opravách a jejich programování',
        description: '',
        icon: 'tabler:switch-3',
      },
      {
        title: 'Evidence a kontrola bytových vodoměrů na teplou a studenou vodu',
        description: '',
        icon: 'tabler:clipboard-check',
      },
      {
        title: 'Spolupráce s domovníky v nájemních bytech',
        description: '',
        icon: 'tabler:users',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Další práce a činnosti</h3>
    </Fragment>
  </Content>

  <Features2
    title="Služby autodopravy"
    subtitle=`<strong>Možnost nadstandardního financování, komunikace se zákazníkem o tvorbě ceny.</strong>`
    columns={2}
    classes={{
      headline: {
        title: 'text-5xl md:text-6xl mt-12',
      },
    }}
    items={[
      {
        title: 'CITROËN Jumper',
        description: 'Sklápěčka: sklápěcí korba, nosnost 1t, cena dopravy je kalkulována dle dohody.',
        icon: 'tabler:truck',
      },
      {
        title: 'CITROËN Jumper',
        description: 'Skříňová dodávka: uzavřený nákladní prostor, vhodná pro přepravu zboží.',
        icon: 'tabler:truck',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="relative bg-cover bg-center h-full md:mt-20 2xl:mt-14 bg-[url('/assets/images/jumper1.webp')]"></div>
    </Fragment>
  </Features2>

  <Content
    title={akceTitle}
    columns={2}
    isReversed
    isSingle={true}
    classes={{
      container: 'mt-10',
    }}
    items={akceItems.map((item) => ({ title: item.title }))}
  />

  <Features21
    title="Důležité kontakty"
    structure={[
      {
        department: 'Poruchová volání',
        contacts: [
          {
            name: 'Elektrárna',
            icon: 'tabler:plug',
            contactInfo: [
              {
                type: 'phone',
                value: '800 225 577',
              },
            ],
          },
          {
            name: 'Vodárna',
            icon: 'tabler:droplet',
            contactInfo: [
              {
                type: 'phone',
                value: '800 800 825',
              },
            ],
          },
          {
            name: 'Plynárna',
            icon: 'tabler:flame',
            contactInfo: [
              {
                type: 'phone',
                value: '1239',
              },
            ],
          },
        ],
      },
      {
        department: 'Havarijní služba',
        contacts: [
          {
            name: 'Vodo-topo-plyn',
            icon: 'tabler:home-exclamation',
            contactInfo: [
              {
                type: 'phone',
                value: '602 779 936',
              },
            ],
          },
          {
            name: 'Elektroinstalace',
            icon: 'tabler:plug',
            contactInfo: [
              {
                type: 'phone',
                value: '602 779 935',
              },
            ],
          },
          {
            name: 'Výtahy',
            icon: 'tabler:elevator',
            contactInfo: [
              {
                type: 'phone',
                value: '602 779 935',
              },
            ],
          },
        ],
      },
      {
        department: 'Tísňová volání',
        contacts: [
          {
            name: 'Krizová linka',
            icon: 'tabler:sos',
            contactInfo: [
              {
                type: 'phone',
                value: '112',
              },
            ],
          },
          {
            name: 'Policie',
            icon: 'tabler:brightness-up',
            contactInfo: [
              {
                type: 'phone',
                value: '158',
              },
            ],
          },
          {
            name: 'Městská policie',
            icon: 'tabler:brightness-up',
            contactInfo: [
              {
                type: 'phone',
                value: '156',
              },
            ],
          },
          {
            name: 'Hasiči',
            icon: 'tabler:fire-extinguisher',
            contactInfo: [
              {
                type: 'phone',
                value: '150',
              },
            ],
          },
          {
            name: 'Rychlá zdravotní pomoc',
            icon: 'tabler:hospital-circle',
            contactInfo: [
              {
                type: 'phone',
                value: '155',
              },
            ],
          },
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
    </Fragment>
  </Features21>
</Layout>
