---
//import { SITE } from 'astrowind:config';
---

<span class="flex items-center ml-2 rtl:ml-0 rtl:mr-2 z-10">
  <img src="/assets/images/MBS-logo.png" alt="Site Logo" class="h-12 w-auto mr-2 dark:hidden" />

  <img src="/assets/images/MBS-logo-dark.png" alt="Site Logo Dark Mode" class="h-12 w-auto mr-2 hidden dark:block" />
  <!-- 
  <span class="text-2xl md:text-xl font-bold text-gray-900 dark:text-white max-w-60 break-words">
    {SITE?.name}
  </span>
</span>
-->
</span>
