---
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
//import Analytics from '~/components/common/Analytics.astro';
import Analytics2 from '~/components/common/Analytics2.html';
import BasicScripts from '~/components/common/BasicScripts.astro';
//import PopUp from '~/components/widgets/PopUp.astro';

// Comment the line below to disable View Transitions
import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <!-- <Analytics /> -->
    <Analytics2 />

    <!-- <PopUp
      timer={1}
      title="PLÁNOVANÝ VÝPADEK SLUŽEB O2"
      href="/oznameni-odstavka-o2"
      description="Dne 14. dubna dojde ke krátkému výpadku pevných služeb O2 na několika adresách v Hodoníně."
    /> -->

    <!-- <PopUp
      timer={1}
      title="Havárie parního rozvodu PS Erbenova"
      description="Došlo k havárii parního rozvodu na PS Erbenova. Oprava probíhá a předpokládané odstranění je plánováno na 30.1.2025 v cca 14:00. Omlouváme se za vzniklé komplikace a děkujeme za pochopení."
    /> -->

    <!-- Comment the line below to disable View Transitions -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />
  </body>
</html>
